.input__group:not(:last-child) {
  margin-bottom: 1rem;
}

.input__group {
  & > input::placeholder {
    font-size: 15px;
    font-weight: 500;
    color: var(--default-text-color);
  }
  & > label {
    font-size: 12px;
    font-weight: 400;
    color: var(--default-title-color);
    margin-bottom: .25rem;

    display: flex;
    justify-content: space-between;
    &.error {
      .label__error-text {
        color: var(--default-error);
        font-weight: bold;
      }
    }
  }
}

.input {
  &__field {
    transition: border .3s;
    padding: .75rem 1rem;
    background: #ffffff;
    border: 1px solid var(--default-border-color);
    border-radius: .25rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: var(--default-title-color);

    &:focus {
      border: 1px solid var(--input-focus-outline);
    }

    &--error {
      border: 1px solid var(--default-error);
      &:focus {
        border: 1px solid var(--default-error);
      }
    }
  }
}