.mobile {
  &__layout {
    &__wrapper {
      background: #EFF5FF;
      height: 100vh;
    }
    &__container {
      margin: 0 auto;
      width: calc(100vw - 2rem);
    }
  }
  &__header {
    background-image: url("../../../assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 172px;
  }
}

.step {
  &__wrapper {
    padding: 2rem 1.5rem;
    background: #ffffff;
    box-shadow: 0 25px 40px -20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  &__block {
    margin-top: -73px;
  }
}

.controls {
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    & > button {
      font-weight: 500;
      font-size: 14px;
    }
  }
  &__next__btn {
    padding: .75rem 1rem;
    background: #022959;
    color: #ffffff;
    border-radius: .25rem;
  }
  &__prev__btn {
    color: #9699AA;
    transition: .5s;
    &:hover {
      color: #000000;
    }
  }
}