.plan__item {
  display: flex;
  border-radius: .5rem;
  border: 1px solid var(--default-border-color);
  padding: 1rem;
  transition: border .3s, background .3s;
  cursor: pointer;

  flex-direction: row;
  align-items: center;

  &:hover, &--selected {
    border: 1px solid #483EFF;
    background: #F8F9FF;
  }

  &__left {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    color: var(--default-title-color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
  }

  &__price {
    color: var(--default-text-color);
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (min-width: 900px) {
  .plan__item {
    max-width: 138px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;
    &__left {
      margin-bottom: 2.5rem;
    }
  }
}