.step__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--default-title-color);
  margin-bottom: .5rem;
  @media screen and (min-width: 900px) {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .text__block {
    margin-bottom: 2.5rem;
  }
}

.step__subtitle {
  color: var(--default-text-color);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}