.desktop {
  &__layout {
    &__wrapper {
      background: #EFF5FF;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__left {
      background-image: url("../../../assets/images/bg-sidebar-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 1rem;
      width: 274px;
      padding: 2.5rem 2rem;
    }
    &__right {
      padding-top: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 450px;
      &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &__content {
      border-radius: 1rem;
      padding: 1rem;
      background: #ffffff;
      height: 600px;
      width: 940px;

      display: flex;
      flex-direction: row;
      gap: 100px;

      box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
    }
  }
}
