.add-on {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid var(--default-border-color);
  border-radius: .5rem;
  padding: .75rem 1rem;
  gap: 1rem;
  //justify-content: space-between;

  &__left {
    //height: 20px;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: .75rem;
    color: #483EFF;
    line-height: 1.25rem;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    color: var(--default-title-color);
  }

  &__description {
    font-size: .75rem;
    color: var(--default-text-color);
    line-height: 1.25rem;
  }

  &--selected {
    border-color: #483EFF;
  }
  &:not(:last-child) {
    margin-bottom: .75rem;
  }
}

@media screen and (min-width: 900px) {
  .add-on {
    padding: 1rem;

    &__name {
      font-size: 1rem;
    }

    &__description {
      margin-top: 7px;
      font-size: calc(1rem - 1px);
    }

    &__price {
      font-size: calc(1rem - 1px);
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}