.step {
  &__dot {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &__title {
      font-size: 12px;
      font-weight: 400;
      color: #ABBCFF;
      text-transform: uppercase;
    }

    &__name {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      color: #ffffff;
    }

    &__icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: none;
      font-size: 14px;
      font-weight: 700;
      border: 1px solid #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }

    &--active &__icon {
      color: var(--default-title-color);
      border: unset;
      background: #BEE2FD;
    }
  }
}

.steps__dots {
  display: flex;
  &--horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
  }
  &--vertical {
    flex-direction: column;

    & > .step__dot:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}