.total {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .left {
      font-size: 14px;
      font-weight: 400;
      color: var(--default-text-color);
    }
    & > .right {
      font-size: 14px;
      font-weight: 400;
      color: var(--default-title-color);
    }
    &:not(:last-child) {
      margin-bottom: .75rem;
    }
  }

  &__table {
    padding: 1rem;
    background: #F8F9FF;
    border-radius: .5rem;
    margin-bottom: 1.5rem;

    &__divider {
      border-top: 1px solid var(--default-text-color);
      opacity: 0.2;
    }

    &__bottom {
      margin-top: .75rem;
    }

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .75rem;
      & > .right {
        font-weight: 700;
        font-size: 14px;
        color: var(--default-title-color);
      }
      & > .left {
        display: flex;
        flex-direction: column;
        & > .plan__header {
          font-weight: 500;
          font-size: 14px;
          color: var(--default-title-color);
        }
        & > .change__btn {
          font-size: 14px;
          font-weight: 400;
          color: var(--default-text-color);
          text-decoration: underline;
        }
      }
    }
  }
  &__amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > .header {
      font-size: 14px;
      font-weight: 400;
      color: var(--default-text-color);
    }
    & > .price {
      color: #483EFF;
      font-weight: 700;
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 900px) {
  .total {
    &__row {
      margin-top: 1rem;
      & > .left {
      }
      & > .right {
      }
      &:not(:last-child) {
      }
    }

    &__table {
      padding: 1rem 1rem 1.5rem 1rem;
      &__divider {
      }

      &__bottom {
      }

      &__top {
        margin-bottom: 1.5rem;
        & > .right {
          font-size: 1rem;
          font-weight: bold;
        }
        & > .left {
          & > .plan__header {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: .5rem;
          }
          & > .change__btn {
            font-size: calc(1rem - 2px);
          }
        }
      }
    }
    &__amount {
      & > .header {
        font-size: calc(1rem - 2px);
      }
      & > .price {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }
}