.checkbox {
  position: relative;

  &__wrapper {
    display: block;
    height: 20px;
    width: 20px;
  }

  &__mark {
    border-radius: .25rem;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid var(--default-border-color);
    top: 0;
    left: 0;

    &::before {
      content: "";
      position: absolute;
      left: 6px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #ffffff;
      border-width: 0 2px 2px 0;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  &__input:checked ~ &__mark {
    background: #483EFF;
  }
}
