@font-face {
  font-family: 'Ubuntu';
  src: url("./assets/fonts/Ubuntu-Medium.ttf") format('truetype');
  font-weight: 500 600;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./assets/fonts/Ubuntu-Bold.ttf") format('truetype');
  font-weight: 700 800;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("./assets/fonts/Ubuntu-Regular.ttf") format('truetype');
  font-weight: 100 200 normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', serif;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

input {
  outline: none;
}

:root {
  --default-title-color: #022959;
  --default-text-color: #9699AA;
  --default-border-color: #D6D9E6;
  --input-focus-outline: #483EFF;
  --default-error: #EE374A;
}