.plans {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.period {
  font-size: 14px;
  font-weight: 500;
  color: var(--default-text-color);

  &__changer__block {
    border-radius: 8px;
    background: #F8F9FF;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
    align-items: center;
  }

  &__switch {
    width: 40px;
    height: 20px;
    position: relative;
    &__circle {
      position: absolute;
      height: 12px;
      width: 12px;
      top: 4px;
      left: 4px;
      border-radius: 50%;
      background: #ffffff;
      transition: transform .3s;
    }
    &__input {
      position: absolute;
      display: none;
    }
    &__label {
      border-radius: 1rem;
      background: #022959;
      height: 20px;
      position: absolute;
      width: 100%;
      cursor: pointer;
    }
    &__input:checked ~ &__circle {
      transform: translateX(20px);
    }
  }

  &--active {
    color: var(--default-title-color);
  }
}

@media screen and (min-width: 900px) {
  .plans {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
  }
  .period {
    &__changer__block {
      margin-top: 2rem;
    }
  }
}