.step__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    width: 100%;
    padding: 1rem;
    & > button {
      font-weight: 500;
      font-size: 14px;
    }
  }
  &__next__btn {
    background: #022959;
    color: #ffffff;
    padding: 15px 1.5rem;
    font-weight: 500;
    border-radius: .5rem;
    font-size: 1rem;
    align-self: flex-end;

    &.confirm {
      background: #483EFF;
    }
  }
  &__prev__btn {
    color: #9699AA;
    transition: .5s;
    &:hover {
      color: #000000;
    }
  }
}

@media screen and (max-width: 899px) {
  .step__controls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    padding: 1rem;

    &__next__btn {
      padding: .75rem 1rem;
      background: #022959;
      color: #ffffff;
      border-radius: .25rem;
    }
  }
}